/* Default css file for jemdoc. */

table#tlayout {
    border: none;
    border-collapse: separate;
    background: white;
}

body {
	background: white;
	/*font-family: Helvetica, sans-serif;  */
	/*font-family: Georgia, serif; */
    /*font-family: Verdana, sans-serif;*/
    /*font-family: Karla, sans-serif;*/
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
	 			 Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
				 Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
				 "Segoe UI Symbol";
	padding-bottom: 8px;
	margin: 0;
}

#layout-menu {
	background: #f6f6f6;
	border: 1px solid #dddddd;
	padding-top: 0.5em;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 1.05em;   /* I changed the fontsize...remove for default*/
	width: auto;
	white-space: nowrap;
    text-align: left;
    vertical-align: top;
}

#layout-menu td {
	background: #f4f4f4;
    vertical-align: top;
}

#layout-content {
	padding-top: 0.0em;
	padding-left: 1.0em;
	padding-right: 1.0em;
	font-size: 1.08em; /*I changed the fontsize...romove this line to default */
    border: none;
    background: white;
    text-align: justify;  /* I changed from left to justify*/
    vertical-align: top;
	width: 930px;  /* remove this line to default or set a fixed width */
}

#layout-menu a {
	line-height: 1.5em;
	margin-left: 0.5em;
}

tt {
    background: #ffffdd;
}

pre, tt {
	font-size: 90%;
	font-family: monaco, monospace;
}

a, a > tt {
	color: #224b8d;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px gray dotted;
}

#layout-menu a.current:link, #layout-menu a.current:visited {
	color: #022b6d;
	border-bottom: 1px gray solid;
}
#layout-menu a:link, #layout-menu a:visited, #layout-menu a:hover {
	color: #527bbd;
	text-decoration: none;
}
#layout-menu a:hover {
	text-decoration: none;
}

div.menu-category {
	border-bottom: 1px solid gray;
	margin-top: 0.8em;
	padding-top: 0.2em;
	padding-bottom: 0.1em;
	font-weight: bold;
}

div.menu-item {
	padding-left: 16px;
	text-indent: -16px;
}

div#toptitle {
	padding-bottom: 0.2em;
	margin-bottom: 1.5em;
	border-bottom: 3px double gray;
}

/* Reduce space if we begin the page with a title. */
div#toptitle + h2, div#toptitle + h3 {
	margin-top: -0.5em;
}

div#subtitle {
	margin-top: 0.0em;
	margin-bottom: 0.0em;
	padding-top: 0em;
	padding-bottom: 0.1em;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

@media print {
	#layout-menu { display: none; }
}

h1, h2, h3 {
	color: #527bbd;
	margin-top: 0.7em;
	margin-bottom: 0.3em;
	padding-bottom: 0.2em;
	line-height: 1.0;
	padding-top: 0.5em;
	border-bottom: 1px solid #aaaaaa;
}

h1 {
	font-size: 165%;
}

h2 {
	padding-top: 0.8em;
	font-size: 125%;
}

h2 + h3 {
    padding-top: 0.2em;
}

h3 {
	font-size: 110%;
	border-bottom: none;
}

p {
	margin-top: 0.0em;
	margin-bottom: 0.8em;
	padding: 0;
	line-height: 1.3; /* fefault 1.3*/
}

pre {
	padding: 0;
	margin: 0;
}

div#footer {
	font-size: small;
	border-top: 1px solid #c0c0c0;
	padding-top: 0.1em;
	margin-top: 4.0em;
	color: #c0c0c0;
}

div#footer a {
	color: #80a0b0;
}

div#footer-text {
	float: left;
	padding-bottom: 8px;
}

ul, ol, dl {
	margin-top: 0.2em;
	padding-top: 0;
	margin-bottom: 0.8em;
}

dt {
	margin-top: 0.5em;
	margin-bottom: 0;
}

dl {
	margin-left: 20px;
}

dd {
	color: #222222;
}

dd > *:first-child {
	margin-top: 0;
}

ul {
	list-style-position: outside;
	list-style-type: square;
}

p + ul, p + ol {
	margin-top: -0.5em;
}

li ul, li ol {
	margin-top: -0.3em;
}

ol {
	list-style-position: outside;
	list-style-type: decimal;
}

li {
	margin-bottom: 0.6em;  /* change this for the line space of list (important for the list of publications)*/
}


li p, dd p {
	margin-bottom: 0.3em;
}


ol ol {
	list-style-type: lower-alpha;
}

ol ol ol {
	list-style-type: lower-roman;
}

p + div.codeblock {
	margin-top: -0.6em;
}

div.codeblock, div.infoblock {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1.3em;
}

div.blocktitle {
	font-weight: bold;
	color: #cd7b62;
	margin-top: 1.2em;
	margin-bottom: 0.1em;
}

div.blockcontent {
	border: 1px solid silver;
	padding: 0.3em 0.5em;
}

div.infoblock > div.blockcontent {
	background: #ffffee;
}

div.blockcontent p + ul, div.blockcontent p + ol {
	margin-top: 0.4em;
}

div.infoblock p {
	margin-bottom: 0em;
}

div.infoblock li p, div.infoblock dd p {
	margin-bottom: 0.5em;
}

div.infoblock p + p {
	margin-top: 0.8em;
}

div.codeblock > div.blockcontent {
	background: #f6f6f6;
}

span.pycommand {
	color: #000070;
}

span.statement {
	color: #008800;
}
span.builtin {
	color: #000088;
}
span.special {
	color: #990000;
}
span.operator {
	color: #880000;
}
span.error {
	color: #aa0000;
}
span.comment, span.comment > *, span.string, span.string > * {
	color: #606060;
}

@media print {
	#layout-menu { display: none; }
}

#fwtitle {
	margin: 2px;
}

#fwtitle #toptitle {
	padding-left: 0.5em;
	margin-bottom: 0.5em;
}

#layout-content h1:first-child, #layout-content h2:first-child, #layout-content h3:first-child {
	margin-top: -0.7em;
}

div#toptitle h1, #layout-content div#toptitle h1 {
	margin-bottom: 0.0em;
	padding-bottom: 0.1em;
	padding-top: 0;
	margin-top: 0.5em;
	border-bottom: none;
}


img {
    border: none;
}

img.eq {
	padding: 0;
	padding-left: 0.1em;
	padding-right: 0.1em;
	margin: 0;
}
 

img.eqwl {
	padding-left: 2em;
	padding-top: 0.6em;
	padding-bottom: 0.2em;
	margin: 0;
}

table {
    border: none;
    border-collapse: collapse;
}
 
table + table {
    border: 2px solid black;
    margin-top: 1px;
}

/* Width to collapse sidebar */
@media screen and (max-width: 1200px) {
	div#header-text-container {
		visibility: hidden;
		width: 0;
	}

	div#layout-menu-container{
		width:0;
	}

	div#layout-menu {
		padding-top: 20px;
		transition: 0.5s;
		min-width: 0px;
		width: 0px;
		box-shadow: 8px 0px 10px 0 rgba(0, 0, 0, 0.3);
		border: none;
		/*position: fixed;*/
	}
	div#layout-content-container {
		transition: margin-left .5s;
		margin-left:0px;
		width: 100%;
	}
	div#main{
		padding-left: calc(100vw - 150px);
	}

	.openbtn {
	  font-size: 26px;
	  cursor: pointer;
	  background: none;
	  color: white;
	  padding: 8px 9px 8px 9px;
	  border: none;
	  width:45px;
	}

	.openbtn:hover {
		background-color: #2f363d;
	}

	div#layout-menu-container .closebtn {
	  position: absolute;
	  top: 0;
	  right: 25px;
	  font-size: 36px;
	  border: none;
	  padding-left: 10px ;
	  padding-right: 10px ;
	  padding-top: 1.1px ;
	  padding-bottom: 5.3px;
	  line-height: 1;
	  margin-right: -25px;
	  background: #ffdce0;
	  color: #959da5;
	}

	div#layout-menu-container .closebtn:hover {
		background: #fdaeb7;
		color: #cb2431;
	}
}


/* Width to center image */
@media screen and (max-width: 700px) {
	img{
		margin-right: 0px;
	}

	p{
		text-align: left;
	}

	div#layout-content{
		padding-left:   20px;
		padding-right:  20px;
		padding-top:    16px;
		padding-bottom: 15px;
		min-height: calc(100vh - 190px);
	}

	div#footer-container{
	}

	div#footer {
		padding-left:   20px;
		padding-right:  20px;
		padding-top:    16px;
		padding-bottom: 15px;
	}

	div#img-container {
		float: none;
		padding-top: 0px;
		text-align: center;
	}

	div#text-container h1{
		text-align: center;
	}

	div#text-container h2{
		text-align: center;
	}

	div#text-container h3{
		text-align: center;
	}
}

/* Group Outings */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 23%; /* IE10 */
  flex: 23%;
  max-width: 23%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}